[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg = {extras = ["binary"], version = "*"}
django-formtools = "*"
django-allauth = "*"
mozilla-django-oidc = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.13"
