{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sign In | EnergyGuard</title>

    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/logo/EnergyGuard_logo 32x24.png' %}">

    <!-- Preconnect for Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <!-- The Google font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
        rel="stylesheet">
    <!-- Main CSS -->
    <link href="{% static 'assets/css/theme.min.css' %}" type="text/css" rel="stylesheet" id="style-default">
    <link href="{% static 'assets/css/user.min.css' %}" type="text/css" rel="stylesheet" id="user-style-default">
    <!-- It sets the browser’s address bar color on Android Chrome, Mobile browsers, Some desktop browsers -->
    <meta name="theme-color" content="#ffffff">
    <!-- For Unicons ( <i class="...."></i> ) -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <script src="{% static 'assets/js/config.js' %}"></script>

</head>

<body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">

        <!-- {% if show_vertical_navbar %}
          {% include "./vertical-navbar.html" %}  
        {% endif %} -->

        {% include "core/header.html" %}

        <!----------------->
        <!-- Page Content-->
        <!----------------->
        <div class="content mt-8">
            <h2 class="lh-sm text-center fw-medium">Sign In</h2>
            <img src="{% static 'assets/img/logo/EnergyGuard_Site-1024x640.png' %}" alt="energyguard" width="250"
                class="d-none d-sm-block mx-auto" />
            <img src="{% static 'assets/img/logo/EnergyGuard_Site-1024x640.png' %}" alt="energyguard" width="180"
                class="d-block d-sm-none mx-auto" />

            <div class="row mb-9 g-4">
                <div class="col-12 col-sm-10 col-md-7 col-lg-5 col-xl-4 col-xxl-3 mx-auto">
                    <div class="card-body p-0">
                        <div class="p-4 code-to-copy">
                            <div class="card theme-wizard mb-5">

                                <div class="card-body py-4">
                                    <div class="tab-content">

                                        <div class="tab-pane active" role="tabpanel">
                                            <form method="post" action="{% url 'login' %}">
                                                {% csrf_token %}

                                                <div class="mb-3 mt-3">
                                                    <label class="form-label mb-2">Enter email</label>
                                                    {{ form.username }}
                                                </div>
                                                <div class="mb-4">
                                                    <label class="form-label mb-2">Enter password</label>
                                                    {{ form.password }}
                                                </div>
                                                <div class="mb-5 d-flex justify-content-between">
                                                    <div>
                                                        {{ form.remember_me }}
                                                        <label for="id_remember_me"
                                                            class="form-check-label ms-1">Remember me</label>
                                                    </div>
                                                    <div>
                                                        <!-- TODO: Implement password reset functionality -->
                                                        <a href="#" class="fs-9">Forgot password?</a>
                                                    </div>
                                                </div>

                                                {% if form.non_field_errors %}
                                                <div class="mt-1 p-0 alert text-danger-emphasis small" role="alert">
                                                    {% for error in form.non_field_errors %}
                                                    {{ error }}
                                                    {% endfor %}
                                                </div>
                                                {% endif %}

                                                <div class="mt-5 text-center">
                                                    <button type="submit"
                                                        class="btn btn-primary px-6 px-sm-6 container">Sign
                                                        In</button>
                                                </div>
                                                
                                                <!-- TODO: Use next so Django knows where to redirect the user after they log in -->
                                                <!-- <input type="hidden" name="next" value="{{ next }}"> -->
                                            </form>
                                            <div class="my-3 text-center">
                                                <!-- TODO: Social Auth Integration -->
                                                <!-- <button type="button"class="container btn btn-outline-primary px-6 px-sm-6">
                                                    <span class="me-1"><i class="fa-brands fa-google fa-lg"></i></span>Sign In With Google
                                                </button> -->
                                                    <form method="post" action="{% provider_login_url 'openid_connect' uid='keycloak' %}">
                                                        {% csrf_token %}
                                                        <button type="submit" class="container btn btn-outline-primary px-6 px-sm-6">Sign in with Keycloak</button>
                                                    </form>
                                            </div>
                                            <div class="mt-5 mb-3 text-center">
                                                <p class="fs-9">Don't have an account? <a
                                                        href="{% url 'register' %}">Sign Up</a></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% include "core/footer.html" %}
        </div>

        <script>
            var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
            var navbarTop = document.querySelector('.navbar-top');
            if (navbarTopStyle === 'darker') {
                navbarTop.setAttribute('data-navbar-appearance', 'darker');
            }

            var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
            var navbarVertical = document.querySelector('.navbar-vertical');
            if (navbarVertical && navbarVerticalStyle === 'darker') {
                navbarVertical.setAttribute('data-navbar-appearance', 'darker');
            }
        </script>

    </main>

    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'vendors/popper/popper.min.js' %}"></script> <!-- For popups and dropdowns -->
    <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script> <!-- Main Bootstrap js code -->
    <script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
    <!-- Creates anchors automatically in headers -->
    <script src="{% static 'vendors/is/is.min.js' %}"></script> <!-- For validation and type checking -->
    <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script> <!-- Icons -->
    <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
    <!-- Provides methods for manipulating arrays, objects, and other types of data -->
    <!-- Adds search, sort, and filter to HTML lists/tables -->
    <script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script> <!-- SVG icons -->
    <script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script> <!-- For date and time -->
    <script src="{% static 'assets/js/phoenix.js' %}"></script>

    <!-- <script src="{% static 'vendors/leaflet/leaflet.js' %}"></script> -->
    <!-- <script src="{% static 'vendors/leaflet.markercluster/leaflet.markercluster.js' %}"></script> -->
    <!-- <script src="{% static 'vendors/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js' %}"></script> -->
    <!-- <script src="{% static 'vendors/echarts/echarts.min.js' %}"></script> -->
    <!-- <script src="{% static 'assets/js/dashboards/ecommerce-dashboard.js' %}"></script> -->
    <!-- <script src="{% static 'vendors/flatpickr/flatpickr.min.js' %}"></script>  -->
    <!-- <script src="{% static 'assets/js/pages/project-details.js' %}"></script> -->

</body>

</html>