{% extends "./base-registration.html" %}
{% load static %}
{% load socialaccount %}

{% block title %}EnergyGuard | Sign Up{% endblock %}

{% block content %}

<div class="tab-content">
    <div class="tab-pane active" role="tabpanel">
        <form class="needs-validation" action="" method="post" novalidate>
            {% csrf_token %}
            {{ wizard.management_form }}

            <div class="mb-2">
                <label class="form-label text-body">First Name</label>
                {{ wizard.form.first_name }}
                {% if wizard.form.errors.first_name %}
                <div class="mt-1 p-0 alert text-danger-emphasis small" role="alert">{{ wizard.form.errors.first_name }}
                </div>
                {% endif %}
            </div>

            <div class="mb-2">
                <label class="form-label text-body">Last Name</label>
                {{ wizard.form.last_name }}
                {% if wizard.form.errors.last_name %}
                <div class="mt-1 p-0 alert text-danger-emphasis small" role="alert">{{ wizard.form.errors.last_name }}
                </div>
                {% endif %}
            </div>

            <div class="mb-2">
                <label class="form-label text-body">Email*</label>
                {{ wizard.form.email }}
                {% if wizard.form.errors.email %}
                <div class="mt-1 p-0 alert text-danger-emphasis small" role="alert">{{ wizard.form.errors.email }}</div>
                {% endif %}
            </div>

            <div class="row g-3 mb-3">
                <div class="col-sm-6">
                    <div class="mb-2 mb-sm-0">
                        <label class="form-label text-body">Password*</label>
                        {{ wizard.form.password1 }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-2">
                        <label class="form-label text-body">Confirm Password*</label>
                        {{ wizard.form.password2 }}
                    </div>
                </div>
                {% if wizard.form.errors.password2 %}
                <div class="mt-1 p-0 alert text-danger-emphasis small" role="alert">{{ wizard.form.errors.password2 }}
                </div>
                {% endif %}

            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="terms" required="required"
                    id="bootstrap-wizard-validation-wizard-checkbox" />
                <!-- TODO: Link to actual terms and privacy policy pages -->
                <label class="form-check-label text-body" for="bootstrap-wizard-validation-wizard-checkbox">I accept the
                    <a href="#!">terms </a>and <a href="#!">privacy policy</a></label>
            </div>

            <div class="d-flex justify-content-end gap-2 mt-5 ">
                <button type="submit" class="btn btn-primary px-6 px-sm-6">Next</button>
            </div>
        </form>
        <div class="d-flex justify-content-center gap-2 mb-3 mt-5">
            <form method="post" action="{% provider_login_url 'openid_connect' uid='keycloak' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-phoenix-primary order-0 fs-8-5 ms-lg-2">Sign up with Keycloak</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}