{% extends "mysite/base.html" %}

{% block title %}Collaboration Hub | EnergyGuard{% endblock %}

{% block content %}   
<div class="content px-0 pt-navbar">
    <div class="row col-12 col-xxl-8 px-0 bg-body mx-auto">
        <div class="px-4 px-lg-6 pt-6 pb-9">
            <div class="mb-5">
                <h2 class="text-body-emphasis fw-bolder mb-2">Collaboration Hub</h2>
            </div>
            <div class="row mt-12">
                <div class="col-md-6">
                    <h4>Forums</h4>
                    <div class="ms-2 col-11">
                        <!-- TODO: Implement link redirection -->
                        <a href="#" class="card-link">
                            <div class="card hover-actions-trigger mt-5">
                                <div class="card-body pb-0 pt-3">
                                    <h5 class="mb-2 lh-sm me-5 text-primary">AI and Ethics</h5>
                                    <p class="fs-9">Discussion on fairness and bias in AI models</p>
                                </div>
                            </div>
                        </a>
                        <!-- TODO: Implement link redirection -->
                        <a href="#" class="card-link">
                            <div class="card hover-actions-trigger mt-3">
                                <div class="card-body pb-0 pt-3">
                                    <h5 class="mb-2 lh-sm me-5 text-primary">Data Sharing</h5>
                                    <p class="fs-9">Best practices for data anonymization</p>
                                </div>
                            </div>
                        </a>
                        <!-- TODO: Implement link redirection -->
                        <a href="#" class="card-link">
                            <div class="card hover-actions-trigger mt-3">
                                <div class="card-body pb-0 pt-3">
                                    <h5 class="mb-2 lh-sm me-5 text-primary">Grid Optimization</h5>
                                    <p class="fs-9">Strategies for AI-driven grid management</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-6">
                    <h4>Events</h4>
                    <div class="ms-2 col-11">
                        <!-- TODO: Implement link redirection -->
                        <a href="#" class="card-link">
                            <div class="card hover-actions-trigger mt-5">
                                <div class="card-body pb-0 pt-3">
                                    <h5 class="mb-2 lh-sm me-5 text-primary">Data Privacy Workshop</h5>
                                    <p class="fs-9">Learn about privacy-preserving techniques for AI</p>
                                </div>
                            </div>
                        </a>
                        <!-- TODO: Implement link redirection -->
                        <a href="#" class="card-link">
                            <div class="card hover-actions-trigger mt-3">
                                <div class="card-body pb-0 pt-3">
                                    <h5 class="mb-2 lh-sm me-5 text-primary">AI in Energy Hackathon</h5>
                                    <p class="fs-9">Develop AI solutions for renewable energy management</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-10">
                    <h4>Partner Matching</h4>
                    <div class="ms-2 col-11">
                        <div class="card hover-actions-trigger mt-5">
                            <div class="card-body ">
                                <p class="fs-9">Find collaboration opportunities with SMEs, researchers and companies through DeployAI’s Business Navigator based on your expertise and needs.</p>
                                <!-- TODO: Add link -->
                                <a href="#" class="btn btn-primary mt-3" target="_blank">Connect to DeployAI</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "mysite/footer.html" %}
</div>


{% endblock content %}