{% extends "mysite/base.html" %}

{% block title %}Collaboration Hub | EnergyGuard{% endblock %}

{% block content %}   
<div class="content px-0 pt-navbar">
    <div class="row col-12 col-xxl-8 px-0 bg-body mx-auto">
        <div class="px-4 px-lg-6 pt-6 pb-9">
            <div class="mb-5">
                <h2 class="text-body-emphasis fw-bolder mb-2">Collaboration Hub</h2>
            </div>
            <div class="col-6 mt-15">
                <div class="card h-100 hover-actions-trigger">
                    <div class="card-body">
                        <h4 class="mb-2 lh-sm flex-1 me-5">AI and Ethics</h4>
                        <p>Discussion on fairness and bias in AI models</p>
                        <!-- <div class="d-flex align-items-center">
                            <h4 class="mb-2 line-clamp-1 lh-sm flex-1 me-5">AI and Ethics</h4>
                            <p>Discussion on fairness and bias in AI models</p>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}