{% extends "mysite/home-base.html" %}
{% load static %}

{% block content %}

<section class="bg-body-emphasis pb-8" id="home">
    <div class="container-small hero-header-container px-lg-7 px-xxl-3">
        <div class="row align-items-center">
            <div class="col-12 col-lg-auto order-0 order-md-1 text-end order-1">
                <div class="position-relative p-5 p-md-7 d-lg-none">
                    <!-- <div class="bg-holder" style="background-image: url('{% static 'assets/img/bg/bg-23.png' %}'); background-size: contain;"></div> -->
                    <!--/.bg-holder-->

                    <!-- <div class="position-relative">
                        <img class="w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-31.png' %}" alt="bbbbbbbbbbb" />
                        <img class="w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/bg-30.png' %}" alt="AAAAAAAAAAAAAA" />
                    </div> -->
                </div>
                <!-- <img src="{% static 'assets/img/bg/bg-23.png' %}" alt=""> -->
                <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block">
                    <div class="position-relative h-100 w-100">
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg">
                            <img class="pt-7 pt-md-0 w-100" src="{% static 'assets/img/bg/bg-1-2.png' %}" alt="hero-header" />
                        </div>
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0">
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-28.png' %}" alt="hero-header" />
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/bg-28.png' %}" alt="hero-header" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-lg-start text-center pt-8 pb-6 order-0 position-relative">
                <h1 class="fs-3 fs-lg-2 fs-md-2 fs-lg-3 fs-xl-2 fs  mb-4"><span class="text-primary me-3">AI Testing Experimentation Facilities</span>for<br />the Energy Sector</h1>
                <p class="mb-5">EnergyGuard provides AI Testing and Experimentation Facilities across Europe to help SME, startups and entrepreneurs test and validate their AI solutions so they can reach the energy market</p>
                <a class="btn btn-lg btn-primary rounded-pill me-3" href="#!" role="button">Sign up</a>
                <a class="btn btn-link me-2 fs-8 p-0" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2 fs-9"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="py-5 pt-xl-13 bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row g-0">
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end">
                    <img class="w-50" src="{% static 'assets/img/partners/iccs.png' %}" alt="ICCS" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md">
                    <img class="w-50" src="{% static 'assets/img/partners/cea.png' %}" alt="CEAy" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md">
                    <img class="w-50" src="{% static 'assets/img/partners/ceder.png' %}" alt="CEDER" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0">
                    <img class="w-50" src="{% static 'assets/img/partners/nester.png' %}" alt="NESTER" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-bottom border-translucent border-bottom-md-0">
                    <img class="w-50" src="{% static 'assets/img/partners/lux.png' %}" alt="LUX" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-md border-bottom border-translucent border-bottom-md-0">
                    <img class="w-50" src="{% static 'assets/img/partners/cartif.png' %}" alt="CARTIF" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-translucent">
                    <img class="w-50" src="{% static 'assets/img/partners/anastasia-fylla.png' %}" alt="AF" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-lg-0 border-translucent">
                    <img class="w-50" src="{% static 'assets/img/partners/bluenergy.png' %}" alt="BLUENERGY" />
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section class="pt-15 pb-0" id="feature">

    <div class="container-small px-lg-7 px-xxl-3">
        <div class="position-relative z-2">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start pe-xxl-3">
                    <h4 class="text-primary fw-bolder mb-4">Features</h4>
                    <h2 class="mb-3 text-body-emphasis lh-base">We test AI solutions for the<br class="d-md-none" />energy sector</h2>
                    <p class="mb-5">EnergyGuard is providing 5 Testing and Experimentation Facilities across Europe to help SME, startups and entrepreneurs test and validate their AI solutions so they can reach the energy market.</p>
                    <a class="btn btn-lg btn-outline-primary rounded-pill me-2" href="#!" role="button">Find out more<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
                <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
                    <div class="h-100 d-flex flex-column justify-content-between">
                        <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/bolt.png' %}" width="48" height="48" alt="" />
                            <div>
                                <h5 class="fw-bolder mb-2">All-in-one solution Validation</h5>
                                <p class="fw-semibold lh-sm">Make a holistic trustworthyAI assessment using our tools and network</p>
                            </div>
                            <div>
                                <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
                    <div class="h-100 d-flex flex-column">
                        <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/pie.png' %}" width="48" height="48" alt="" />
                            <div>
                                <h5 class="fw-bolder mb-2">All-in-one solution</h5>
                                <p class="fw-semibold lh-sm">Show your production and growth graph in one place with Phoenix!</p>
                            </div>
                            <div>
                                <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-12 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/22_2.png' %}" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_22.png' %}" alt="" />
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary mb-2 ls-2">COST EFFICIENTIVENESS AND RELIABILITY</h6>
                    <h3 class="fw-bolder mb-3">Access our facilities</h3>
                    <p class="mb-4 px-md-7 px-lg-0">Phoenix makes it possible for you to quickly and effectively receive every signal. No need for drawn-out waiting.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
            <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5 order-0 order-lg-1">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/23_2.png' %}" height="394" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_23.png' %}" height="394" alt="" />
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary mb-2 ls-2">TRUST</h6>
                    <h3 class="fw-bolder mb-3">See Build trust in your products</h3>
                    <p class="mb-4 px-md-7 px-lg-0">We help you with everything you might need to build trust into your products. We make it easy and keep it simple.</p>
                    <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
            <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/24_2.png' %}" height="394" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_24.png' %}" height="394" alt="" />
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <h6 class="text-primary mb-2 ls-2">MONITORING</h6>
                    <h3 class="fw-bolder mb-3">Get Monitoring Reports Ready</h3>
                    <p class="mb-4 px-md-7 px-lg-0">With EnergyGuard, you can have detailed monitoring of the resources you use.</p>
                    <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>

{% endblock content %}