{% load static %}

<nav class="navbar navbar-vertical navbar-expand-lg">
    <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
        <!-- scrollbar removed-->
        <div class="navbar-vertical-content">
            <ul class="navbar-nav flex-column" id="navbarVerticalNav">
                <li class="nav-item">
                    <!-- parent pages-->
                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#nv-home" role="button" data-bs-toggle="collapse" aria-expanded="true" aria-controls="nv-home">
                        <div class="d-flex align-items-center">
                            <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-icon"><span data-feather="pie-chart"></span></span><span class="nav-link-text">Home</span>
                        </div>
                        </a>
                        <div class="parent-wrapper label-1">
                            <ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="nv-home">
                                <li class="collapsed-nav-item-title d-none">Home
                                </li>
                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'experiments' %}active{% endif %}" href="{% url 'experiments_list' %}">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Experiments Dashboard</span>
                                    </div>
                                </a>
                                <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'datasets' %}active{% endif %}" href="{% url 'datasets_list' %}">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Datasets Dashboard</span>
                                    </div>
                                </a>
                                <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'billing' %}active{% endif %}" href="{% url 'billing' %}">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Billing Overview</span>
                                    </div>
                                </a>
                                <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'usage' %}active{% endif %}" href="#">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Usage Statistics</span>
                                    </div>
                                </a>
                                <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'carbon' %}active{% endif %}" href="#">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Carbon Emission Calculator</span>
                                    </div>
                                </a>
                                <!-- more inner pages-->
                                </li>


                                <!-- Wrapper item -->

                                <li class="nav-item">
                                    <div class="nav-item-wrapper"><a class="nav-link dropdown-indicator label-1" href="#evaluateAI" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="evaluateAI">
                                        <div class="d-flex align-items-center">
                                            <div class="dropdown-indicator-icon-wrapper"><span class="fas fa-caret-right dropdown-indicator-icon"></span></div><span class="nav-link-text">Trustworthy AI Assessment</span>
                                        </div>
                                        </a>
                                        <div class="parent-wrapper label-1">
                                            <ul class="nav collapse parent" data-bs-parent="#evaluateAI" id="evaluateAI">
                                                <!-- <li class="collapsed-nav-item-title d-none">Evaluate AI Applications
                                                </li> -->
                                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'questionnaire' %}active{% endif %}" href="#">
                                                    <div class="d-flex align-items-center"><span class="nav-link-text">AI Act Questionnaire</span>
                                                    </div>
                                                </a>
                                                <!-- more inner pages-->
                                                </li>
                                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'acceptance' %}active{% endif %}" href="#">
                                                    <div class="d-flex align-items-center"><span class="nav-link-text">Code Analysis</span>
                                                    </div>
                                                </a>
                                                <!-- more inner pages-->
                                                </li>
                                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'trustworthy' %}active{% endif %}" href="#">
                                                    <div class="d-flex align-items-center"><span class="nav-link-text">Trustwothiness Report</span>
                                                    </div>
                                                </a>
                                                <!-- more inner pages-->
                                                </li>
                                            
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                

                                
                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'collaboration_hub' %}active{% endif %}" href="{% url 'collaboration_hub' %}">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Collaboration Hub</span>
                                    </div>
                                </a>
                                <!-- more inner pages-->
                                </li>
                                <li class="nav-item"><a class="nav-link {%if active_navbar_page == 'documentation' %}active{% endif %}" href="{% url 'documentation' %}">
                                    <div class="d-flex align-items-center"><span class="nav-link-text">Documentation</span>
                                    </div>
                                </a>
                                <!-- more inner pages-->
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>

            </ul>
        </div>
    </div>

    <!-- Vertical Navbar Footer -->
    <div class="navbar-vertical-footer">
        <button class="btn navbar-vertical-toggle border-0 fw-semibold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-8"></span><span class="uil uil-arrow-from-right fs-8"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
    </div>
</nav>