{% load static %}

<!DOCTYPE html>
<html lang="en-US" dir="ltr" data-navigation-type="default" data-navbar-horizontal-shape="default">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}EnergyGuard{% endblock %}</title>

  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/img/logo/EnergyGuard_logo 32x24.png' %}">

  <!-- Preconnect for Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <!-- The Google font -->
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&amp;display=swap"
    rel="stylesheet">
  <!-- Main CSS -->
  <link href="{% static 'assets/css/theme.min.css' %}" type="text/css" rel="stylesheet" id="style-default">
  <link href="{% static 'assets/css/user.min.css' %}" type="text/css" rel="stylesheet" id="user-style-default">
  <!-- It sets the browser’s address bar color on Android Chrome, Mobile browsers, Some desktop browsers -->
  <meta name="theme-color" content="#ffffff">
  <!-- For Unicons ( <i class="...."></i> ) -->
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

  <script src="{% static 'assets/js/config.js' %}"></script>

</head>

<body>

  <main class="main" id="top">

    {% include "core/header.html" %}

    <!----------------->
    <!-- Page Content-->
    <!----------------->
    <div class="content mt-8">
      <h2 class="lh-sm text-center fw-medium">{% block wizard_title %}{% endblock %}</h2>
      <img src="{% static 'assets/img/logo/EnergyGuard_Site-1024x640.png' %}" alt="energyguard" width="250"
        class="d-none d-sm-block mx-auto" />
      <img src="{% static 'assets/img/logo/EnergyGuard_Site-1024x640.png' %}" alt="energyguard" width="180"
        class="d-block d-sm-none mx-auto" />

      <div class="row mb-9 g-4">
        <div class="col-12 col-lg-7 col-xl-5 col-xxl-4 mx-auto">
          <div class="card-body p-0">
            <div class="p-4 code-to-copy">
              <div class="card theme-wizard mb-5">
                <div class="card-header bg-body-highlight pt-3 pb-2 border-bottom-0">
                  <ul class="nav justify-content-between nav-wizard nav-wizard-success">
                    {% with step=wizard.steps.current current_step_index=wizard.steps.index %}
                      {% for step_item in wizard_steps %}
                        <li class="nav-item">
                          {% if forloop.counter0 < current_step_index %}
                            <span class="nav-link fw-semibold active">
                              <div class="text-center d-inline-block">
                                <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-check"></span></span></span>
                                <span class="d-none d-md-block mt-1 fs-9">{{ step_item.title }}</span>
                              </div>
                            </span>
                          {% else %}
                            <span class="nav-link fw-semibold {% if step_item.name == step %}active{% endif %}">
                              <div class="text-center d-inline-block">
                                <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas {{ step_item.icon }}"></span></span></span>
                                <span class="d-none d-md-block mt-1 fs-9">{{ step_item.title }}</span>
                              </div>
                            </span>
                          {% endif %}
                        </li>
                      {% endfor %}
                      <li class="nav-item">
                        <span class="nav-link fw-semibold {% if step == 'done' %}active{% endif %}">
                          <div class="text-center d-inline-block">
                            <span class="nav-item-circle-parent"><span class="nav-item-circle"><span class="fas fa-check"></span></span></span>
                            <span class="d-none d-md-block mt-1 fs-9">Done</span>
                          </div>
                        </span>
                      </li>
                    {% endwith %}
                  </ul>
                </div>
                <div class="card-body pt-4 pb-0">
                  <div class="tab-content">
                    {% block content %}
                    {% endblock content %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% include "core/footer.html" %}
    </div>

    <script>
      var navbarTopStyle = window.config.config.phoenixNavbarTopStyle;
      var navbarTop = document.querySelector('.navbar-top');
      if (navbarTopStyle === 'darker') {
        navbarTop.setAttribute('data-navbar-appearance', 'darker');
      }

      var navbarVerticalStyle = window.config.config.phoenixNavbarVerticalStyle;
      var navbarVertical = document.querySelector('.navbar-vertical');
      if (navbarVertical && navbarVerticalStyle === 'darker') {
        navbarVertical.setAttribute('data-navbar-appearance', 'darker');
      }
    </script>

  </main>

  <!-- ===============================================-->
  <!--    JavaScripts-->
  <!-- ===============================================-->
  <script src="{% static 'vendors/popper/popper.min.js' %}"></script> <!-- For popups and dropdowns -->
  <script src="{% static 'vendors/bootstrap/bootstrap.min.js' %}"></script> <!-- Main Bootstrap js code -->
  <script src="{% static 'vendors/anchorjs/anchor.min.js' %}"></script>
  <!-- Creates anchors automatically in headers -->
  <script src="{% static 'vendors/is/is.min.js' %}"></script> <!-- For validation and type checking -->
  <script src="{% static 'vendors/fontawesome/all.min.js' %}"></script> <!-- Icons -->
  <script src="{% static 'vendors/lodash/lodash.min.js' %}"></script>
  <!-- Provides methods for manipulating arrays, objects, and other types of data -->
  <script src="{% static 'vendors/feather-icons/feather.min.js' %}"></script> <!-- SVG icons -->
  <script src="{% static 'vendors/dayjs/dayjs.min.js' %}"></script> <!-- For date and time -->
  <script src="{% static 'assets/js/phoenix.js' %}"></script>


  {% block scripts %}
  {% endblock scripts %}
</body>

</html>
