{% extends "./base.html" %}

{% block title %}Documentation | EnergyGuard{% endblock %}

{% block content %}   
<div class="content px-0 pt-navbar">
    <div class="row col-12 col-xxl-8 px-0 bg-body mx-auto">
        <div class="px-4 px-lg-6 pt-6 pb-9">
            <div class="mb-5">
                <h2 class="text-body-emphasis fw-bolder mb-2">Documentation</h2>
            </div>
            <div class="row mt-12">
                <div class="col-md-6 col-lg-4 mt-4">
                    <!-- TODO: Implement link redirection -->
                    <a href="#" class="card-link">
                        <div class="card hover-actions-trigger h-100">
                            <div class="card-body pb-0 pt-4">
                                <h4 class="lh-sm me-5 mb-3 text-primary text-center"><i class="fa-solid fa-bars-staggered me-3"></i>Getting Started</h4>
                                <p class="text-center fs-9">Step-by-step guide for using EnergyGuard</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 mt-4">
                    <!-- TODO: Implement link redirection -->
                    <a href="#" class="card-link">
                        <div class="card hover-actions-trigger h-100">
                            <div class="card-body pb-0 pt-4">
                                <h4 class="lh-sm me-5 mb-3 text-primary text-center"><i class="fa-solid fa-clipboard-list me-3"></i>Best practices</h4>
                                <p class="text-center fs-9">Recommendations for developing and deploying AI services</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 mt-4">
                    <!-- TODO: Implement link redirection -->
                    <a href="#" class="card-link">
                        <div class="card hover-actions-trigger h-100">
                            <div class="card-body pb-0 pt-4">
                                <h4 class="lh-sm me-5 mb-3 text-primary text-center"><i class="fa-solid fa-headset me-3"></i>Support</h4>
                                <p class="text-center fs-9">Contact support or start a live chat</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 mt-4">
                    <!-- TODO: Implement link redirection -->
                    <a href="#" class="card-link">
                        <div class="card hover-actions-trigger h-100">
                            <div class="card-body pb-0 pt-4">
                                <h4 class="lh-sm me-5 mb-3 text-primary text-center"><i class="fa-regular fa-circle-question me-3"></i>FAQs</h4>
                                <p class="text-center fs-9">Answers to frequently asked questions</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 mt-4">
                    <!-- TODO: Implement link redirection -->
                    <a href="#" class="card-link">
                        <div class="card hover-actions-trigger">
                            <div class="card-body pb-0 pt-4">
                                <h4 class="lh-sm me-5 mb-3 text-primary text-center"><i class="fa-solid fa-scale-balanced me-3"></i>AI Ethics & Compliance Standards</h4>
                                <p class="text-center fs-9">Regulatory frameworks and guidelines for building responsible AI systems.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6 col-lg-4 mt-4">
                    <!-- TODO: Implement link redirection -->
                    <a href="#" class="card-link">
                        <div class="card hover-actions-trigger h-100">
                            <div class="card-body pb-0 pt-3">
                                <h4 class="lh-sm me-5 mb-3 text-primary text-center"><i class="fa-solid fa-list-check me-3"></i>Terms of Use</h4>
                                <p class="text-center fs-9">Legal conditions for using the EnergyGuard platform and its services.</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% include "./footer.html" %}
</div>


{% endblock content %}