{% extends "./home-base.html" %}
{% load static %}

{% block content %}

<section class="bg-body-emphasis pb-8" id="home">
    <div class="container-small hero-header-container px-lg-7 px-xxl-3">
        <div class="row align-items-center">
            <div class="col-12 col-lg-auto order-0 order-md-1 text-end order-1">
                <div class="position-relative p-5 p-md-7 d-lg-none">
                    <!-- <div class="bg-holder" style="background-image: url('{% static 'assets/img/bg/bg-23.png' %}'); background-size: contain;"></div> -->
                    <!--/.bg-holder-->

                    <!-- <div class="position-relative">
                        <img class="w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-31.png' %}" alt="bbbbbbbbbbb" />
                        <img class="w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/bg-30.png' %}" alt="AAAAAAAAAAAAAA" />
                    </div> -->
                </div>
                <!-- <img src="{% static 'assets/img/bg/bg-23.png' %}" alt=""> -->
                <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block">
                    <div class="position-relative h-100 w-100">
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg">
                            <img class="pt-7 pt-md-0 w-100" src="{% static 'assets/img/bg/bg-1-2.png' %}" alt="hero-header" />
                        </div>
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0">
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-28.png' %}" alt="hero-header" />
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/bg-28.png' %}" alt="hero-header" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-lg-start text-center pt-8 pb-6 order-0 position-relative">
                <h1 class="fs-3 fs-lg-2 fs-md-2 fs-lg-3 fs-xl-2 fs  mb-4"><span class="text-primary me-3">AI Testing Experimentation Facilities</span>for<br />the Energy Sector</h1>
                <p class="mb-5">EnergyGuard provides AI Testing and Experimentation Facilities across Europe to help SME, startups and entrepreneurs test and validate their AI solutions so they can reach the energy market</p>
                {% if not user.is_authenticated %}
                    <a class="btn btn-lg btn-primary rounded-pill me-3" href="{% url 'register' %}" role="button">Sign up</a>
                {% endif %}
                <a class="btn btn-link me-2 fs-8 p-0" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2 fs-9"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="py-5 pt-xl-13 bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row g-0">
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end">
                    <img class="w-50" src="{% static 'assets/img/partners/iccs.png' %}" alt="ICCS" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md">
                    <img class="w-50" src="{% static 'assets/img/partners/cea.png' %}" alt="CEAy" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md">
                    <img class="w-50" src="{% static 'assets/img/partners/ceder.png' %}" alt="CEDER" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0">
                    <img class="w-50" src="{% static 'assets/img/partners/nester.png' %}" alt="NESTER" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-bottom border-translucent border-bottom-md-0">
                    <img class="w-50" src="{% static 'assets/img/partners/lux.png' %}" alt="LUX" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-md border-bottom border-translucent border-bottom-md-0">
                    <img class="w-50" src="{% static 'assets/img/partners/cartif.png' %}" alt="CARTIF" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-translucent">
                    <img class="w-50" src="{% static 'assets/img/partners/anastasia-fylla.png' %}" alt="AF" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-lg-0 border-translucent">
                    <img class="w-50" src="{% static 'assets/img/partners/bluenergy.png' %}" alt="BLUENERGY" />
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section class="pt-15 pb-0" id="feature">

    <div class="container-small px-lg-7 px-xxl-3">
        <div class="position-relative z-2">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start pe-xxl-3">
                    <h4 class="text-primary fw-bolder mb-4">Features</h4>
                    <h2 class="mb-3 text-body-emphasis lh-base">We test AI solutions for the<br class="d-md-none" />energy sector</h2>
                    <p class="mb-5">EnergyGuard is providing 5 Testing and Experimentation Facilities across Europe to help SME, startups and entrepreneurs test and validate their AI solutions so they can reach the energy market.</p>
                    <a class="btn btn-lg btn-outline-primary rounded-pill me-2" href="#!" role="button">Find out more<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
                <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
                    <div class="h-100 d-flex flex-column justify-content-between">
                        <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/bolt.png' %}" width="48" height="48" alt="" />
                            <div>
                                <h5 class="fw-bolder mb-2">All-in-one solution Validation</h5>
                                <p class="fw-semibold lh-sm">Make a holistic trustworthyAI assessment using our tools and network</p>
                            </div>
                            <div>
                                <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
                    <div class="h-100 d-flex flex-column">
                        <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/pie.png' %}" width="48" height="48" alt="" />
                            <div>
                                <h5 class="fw-bolder mb-2">All-in-one solution</h5>
                                <p class="fw-semibold lh-sm">Show your production and growth graph in one place with Phoenix!</p>
                            </div>
                            <div>
                                <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-12 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/22_2.png' %}" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_22.png' %}" alt="" />
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary mb-2 ls-2">COST EFFICIENTIVENESS AND RELIABILITY</h6>
                    <h3 class="fw-bolder mb-3">Access our facilities</h3>
                    <p class="mb-4 px-md-7 px-lg-0">EnergyGuard makes it possible for you to quickly and effectively receive every access models, data and services from digital twins of the physical facilities.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
            <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5 order-0 order-lg-1">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/23_2.png' %}" height="394" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_23.png' %}" height="394" alt="" />
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary mb-2 ls-2">TRUST</h6>
                    <h3 class="fw-bolder mb-3">See Build trust in your products</h3>
                    <p class="mb-4 px-md-7 px-lg-0">We help you with everything you might need to build trust into your products. We make it easy and keep it simple.</p>
                    <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
            <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/24_2.png' %}" height="394" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_24.png' %}" height="394" alt="" />
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <h6 class="text-primary mb-2 ls-2">MONITORING</h6>
                    <h3 class="fw-bolder mb-3">Get Monitoring Reports Ready</h3>
                    <p class="mb-4 px-md-7 px-lg-0">With EnergyGuard, you can have detailed monitoring of the resources you use.</p>
                    <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>

<div class="position-relative">
    <div class="bg-holder z-2 d-none d-md-block" style="background-image:url(../../assets/img/bg/13.png);background-size:auto;background-position:right;"></div>
    <!--/.bg-holder-->

    <div class="bg-holder z-2 d-none d-md-block d-lg-none d-xl-block" style="background-image:url(../../assets/img/bg/bg-12.png);background-size:auto;background-position:left;"></div>
    <!--/.bg-holder-->

    <div class="bottom-0 start-0 end-0 bg-body-emphasis">
        <svg class="w-100" viewBox="0 0 1920 368" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-body-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
        </svg>
    </div>
    <section class="pb-0 bg-body-emphasis overflow-hidden position-static">
        <div class="container-small px-lg-7 px-xxl-3">
            <div class="row">
                <div class="col-lg-6 mb-6 text-center text-lg-start z-2">
                    <h4 class="text-primary fw-bolder mb-3">Testimonial</h4>
                    <h2 class="mb-3 text-body-emphasis">More than 300 happy<br />Customers and counting</h2>
                    <p class="mb-5">You may now concentrate on the functionality and other <br class="d-none d-sm-block" />aspects of your AI products thanks to EnergyGuard strength<br class="d-none d-sm-block" />before leaving the validation to us. It is simple to complete<br class="d-none d-sm-block" />the work after checking and double-checking.</p>
                </div>
                <div class="col-lg-6 z-2">
                    <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                                    <div class="col-lg-6 col-xl-5 text-center">
                                        <div class="testimonial-avatar-container d-inline-block position-relative">
                                            <div class="bg-holder" style="background-image:url(../../assets/img/bg/bg-2.png);background-size:contain;"></div>
                                            <!--/.bg-holder-->
                                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="{% static 'assets/img/team/61.webp' %}" width="153" height="153" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                                        <div class="mb-4" data-bs-theme="light">
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                        </div>
                                        <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">Brilliant app! Will definitely going to be my first choice starting from today</h3>
                                        <h6>Monica Gomez</h6>
                                        <h6 class="fw-normal">AI developer, Google</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                                    <div class="col-lg-6 col-xl-5 text-center">
                                        <div class="testimonial-avatar-container d-inline-block position-relative">
                                            <div class="bg-holder" style="background-image:url(../../assets/img/bg/bg-2.png);background-size:contain;"></div>
                                            <!--/.bg-holder-->
                                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="{% static 'assets/img/team/8.webp' %}" width="154" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                                        <div class="mb-4" data-bs-theme="light">
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                        </div>
                                        <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“EnergyGuard significantly accelerates how we test and deploy AI solutions for industrial energy systems.”</h3>
                                        <h6>Marc Chiasson</h6>
                                        <h6 class="fw-normal">Senior AI Engineer, Siemens</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                                    <div class="col-lg-6 col-xl-5 text-center">
                                        <div class="testimonial-avatar-container d-inline-block position-relative">
                                            <div class="bg-holder" style="background-image:url(../../assets/img/bg/bg-2.png);background-size:contain;"></div>
                                            <!--/.bg-holder-->
                                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="{% static 'assets/img/team/35.webp' %}" width="154" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                                        <div class="mb-4" data-bs-theme="light">
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                        </div>
                                        <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“EnergyGuard is the first platform where energy data, AI tooling, and trustworthiness actually work together.”</h3>
                                        <h6>Axel Barry</h6>
                                        <h6 class="fw-normal">Lead Data Scientist, Schneider Electric</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock content %}