{% extends "./home-base.html" %}
{% load static %}

{% block content %}

<section class="bg-body-emphasis pb-8" id="home">
    <div class="container-small hero-header-container px-lg-7 px-xxl-3">
        <div class="row align-items-center">
            <div class="col-12 col-lg-auto order-0 order-md-1 text-end order-1">
                <div class="position-relative p-5 p-md-7 d-lg-none">
                    <!-- <div class="bg-holder" style="background-image: url('{% static 'assets/img/bg/bg-23.png' %}'); background-size: contain;"></div> -->
                    <!--/.bg-holder-->

                    <!-- <div class="position-relative">
                        <img class="w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-31.png' %}" alt="bbbbbbbbbbb" />
                        <img class="w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/bg-30.png' %}" alt="AAAAAAAAAAAAAA" />
                    </div> -->
                </div>
                <!-- <img src="{% static 'assets/img/bg/bg-23.png' %}" alt=""> -->
                <div class="hero-image-container position-absolute top-0 bottom-0 end-0 d-none d-lg-block">
                    <div class="position-relative h-100 w-100">
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0 hero-image-container-bg">
                            <img class="pt-7 pt-md-0 w-100" src="{% static 'assets/img/bg/bg-1-2.png' %}" alt="hero-header" />
                        </div>
                        <div class="position-absolute h-100 top-0 d-flex align-items-center end-0">
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-dark-none rounded-2" src="{% static 'assets/img/bg/bg-28.png' %}" alt="hero-header" />
                            <img class="pt-7 pt-md-0 w-100 shadow-lg d-light-none rounded-2" src="{% static 'assets/img/bg/bg-28.png' %}" alt="hero-header" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 text-lg-start text-center pt-8 pb-6 order-0 position-relative">
                <h1 class="fs-3 fs-lg-2 fs-md-2 fs-lg-3 fs-xl-2 fs  mb-4"><span class="text-primary me-3">AI Testing Experimentation Facilities</span>for<br />the Energy Sector</h1>
                <p class="mb-5">EnergyGuard provides AI Testing and Experimentation Facilities across Europe to help SME, startups and entrepreneurs test and validate their AI solutions so they can reach the energy market</p>
                {% if not user.is_authenticated %}
                    <a class="btn btn-lg btn-primary rounded-pill me-3" href="{% url 'register' %}" role="button">Sign up</a>
                {% endif %}
                <a class="btn btn-link me-2 fs-8 p-0" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2 fs-9"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="py-5 pt-xl-13 bg-body-emphasis">
    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row g-0">
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end">
                    <img class="w-50" src="{% static 'assets/img/partners/iccs.png' %}" alt="ICCS" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-md">
                    <img class="w-50" src="{% static 'assets/img/partners/cea.png' %}" alt="CEAy" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end border-end-md">
                    <img class="w-50" src="{% static 'assets/img/partners/ceder.png' %}" alt="CEDER" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-bottom border-translucent border-end-lg-0">
                    <img class="w-50" src="{% static 'assets/img/partners/nester.png' %}" alt="NESTER" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-bottom border-translucent border-bottom-md-0">
                    <img class="w-50" src="{% static 'assets/img/partners/lux.png' %}" alt="LUX" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-md border-bottom border-translucent border-bottom-md-0">
                    <img class="w-50" src="{% static 'assets/img/partners/cartif.png' %}" alt="CARTIF" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end border-translucent">
                    <img class="w-50" src="{% static 'assets/img/partners/anastasia-fylla.png' %}" alt="AF" />
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="p-2 p-lg-5 d-flex flex-center h-100 border-1 border-dashed border-end-lg-0 border-translucent">
                    <img class="w-50" src="{% static 'assets/img/partners/bluenergy.png' %}" alt="BLUENERGY" />
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->
</section>

<section class="pt-15 pb-0" id="feature">

    <div class="container-small px-lg-7 px-xxl-3">
        <div class="position-relative z-2">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start pe-xxl-3">
                    <h4 class="text-primary fw-bolder mb-4">Features</h4>
                    <h2 class="mb-3 text-body-emphasis lh-base">We test AI solutions for the<br class="d-md-none" />energy sector</h2>
                    <p class="mb-5">EnergyGuard is providing 5 Testing and Experimentation Facilities across Europe to help SME, startups and entrepreneurs test and validate their AI solutions so they can reach the energy market.</p>
                    <a class="btn btn-lg btn-outline-primary rounded-pill me-2" href="#!" role="button">Find out more<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
                <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
                    <div class="h-100 d-flex flex-column justify-content-between">
                        <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/bolt.png' %}" width="48" height="48" alt="" />
                            <div>
                                <h5 class="fw-bolder mb-2">All-in-one solution Validation</h5>
                                <p class="fw-semibold lh-sm">Make a holistic trustworthyAI assessment using our tools and network</p>
                            </div>
                            <div>
                                <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<span class="fa-solid fa-angle-right ms-2"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3 mt-7 text-center text-lg-start">
                    <div class="h-100 d-flex flex-column">
                        <div class="border-start-lg border-translucent border-dashed ps-4"><img class="mb-4" src="{% static 'assets/img/icons/illustrations/pie.png' %}" width="48" height="48" alt="" />
                            <div>
                                <h5 class="fw-bolder mb-2">All-in-one solution</h5>
                                <p class="fw-semibold lh-sm">Show your production and growth graph in one place with Phoenix!</p>
                            </div>
                            <div>
                                <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-12 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/22_2.png' %}" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_22.png' %}" alt="" />
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary mb-2 ls-2">COST EFFICIENTIVENESS AND RELIABILITY</h6>
                    <h3 class="fw-bolder mb-3">Access our facilities</h3>
                    <p class="mb-4 px-md-7 px-lg-0">EnergyGuard makes it possible for you to quickly and effectively receive every access models, data and services from digital twins of the physical facilities.</p><a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
            <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5 order-0 order-lg-1">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/23_2.png' %}" height="394" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_23.png' %}" height="394" alt="" />
                </div>
                <div class="col-lg-6">
                    <h6 class="text-primary mb-2 ls-2">TRUST</h6>
                    <h3 class="fw-bolder mb-3">See Build trust in your products</h3>
                    <p class="mb-4 px-md-7 px-lg-0">We help you with everything you might need to build trust into your products. We make it easy and keep it simple.</p>
                    <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
            <div class="row mt-2 align-items-center justify-content-between text-center text-lg-start mb-6 mb-lg-0">
                <div class="col-lg-5">
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-dark-none" src="{% static 'assets/img/spot-illustrations/24_2.png' %}" height="394" alt="" />
                    <img class="feature-image img-fluid mb-9 mb-lg-0 d-light-none" src="{% static 'assets/img/spot-illustrations/dark_24.png' %}" height="394" alt="" />
                </div>
                <div class="col-lg-6 text-center text-lg-start">
                    <h6 class="text-primary mb-2 ls-2">MONITORING</h6>
                    <h3 class="fw-bolder mb-3">Get Monitoring Reports Ready</h3>
                    <p class="mb-4 px-md-7 px-lg-0">With EnergyGuard, you can have detailed monitoring of the resources you use.</p>
                    <a class="btn btn-link me-2 p-0 fs-9" href="#!" role="button">Check Demo<i class="fa-solid fa-angle-right ms-2"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>

<div class="position-relative">
    {% static 'assets/img/bg/13.png' as bg_image_13 %}
    <div class="bg-holder z-2 d-none d-md-block" style="background-image:url('{{ bg_image_13 }}');background-size:auto;background-position:right;"></div>
    <!--/.bg-holder-->

    {% static 'assets/img/bg/bg-12.png' as bg_image_12 %}
    <div class="bg-holder z-2 d-none d-md-block d-lg-none d-xl-block" style="background-image:url('{{ bg_image_12 }}');background-size:auto;background-position:left;"></div>
    <!--/.bg-holder-->

    <div class="bottom-0 start-0 end-0 bg-body-emphasis">
        <svg class="w-100" viewBox="0 0 1920 368" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path class="fill-body-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
        </svg>
    </div>
    <section class="pb-0 bg-body-emphasis overflow-hidden position-static">
        <div class="container-small px-lg-7 px-xxl-3">
            <div class="row">
                <div class="col-lg-6 mb-6 text-center text-lg-start z-2">
                    <h4 class="text-primary fw-bolder mb-3">Testimonial</h4>
                    <h2 class="mb-3 text-body-emphasis">More than 300 happy<br />Customers and counting</h2>
                    <p class="mb-5">You may now concentrate on the functionality and other <br class="d-none d-sm-block" />aspects of your AI products thanks to EnergyGuard strength<br class="d-none d-sm-block" />before leaving the validation to us. It is simple to complete<br class="d-none d-sm-block" />the work after checking and double-checking.</p>
                </div>
                <div class="col-lg-6 z-2">
                    {% static 'assets/img/bg/bg-2.png' as testimonial_bg %}
                    <div class="carousel slide" id="carouselExampleIndicators" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                                    <div class="col-lg-6 col-xl-5 text-center">
                                        <div class="testimonial-avatar-container d-inline-block position-relative">
                                            <div class="bg-holder" style="background-image:url('{{ testimonial_bg }}');background-size:contain;"></div>
                                            <!--/.bg-holder-->
                                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="{% static 'assets/img/team/61.webp' %}" width="153" height="153" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                                        <div class="mb-4" data-bs-theme="light">
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                        </div>
                                        <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">Brilliant app! Will definitely going to be my first choice starting from today</h3>
                                        <h6>Monica Gomez</h6>
                                        <h6 class="fw-normal">AI developer, Google</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                                    <div class="col-lg-6 col-xl-5 text-center">
                                        <div class="testimonial-avatar-container d-inline-block position-relative">
                                            <div class="bg-holder" style="background-image:url('{{ testimonial_bg }}');background-size:contain;"></div>
                                            <!--/.bg-holder-->
                                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="{% static 'assets/img/team/8.webp' %}" width="154" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                                        <div class="mb-4" data-bs-theme="light">
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                        </div>
                                        <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“EnergyGuard significantly accelerates how we test and deploy AI solutions for industrial energy systems.”</h3>
                                        <h6>Marc Chiasson</h6>
                                        <h6 class="fw-normal">Senior AI Engineer, Siemens</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row g-1 g-lg-0 g-xl-1 pb-lg-3 pb-xl-0 ps-lg-1 ps-xl-0">
                                    <div class="col-lg-6 col-xl-5 text-center">
                                        <div class="testimonial-avatar-container d-inline-block position-relative">
                                            <div class="bg-holder" style="background-image:url('{{ testimonial_bg }}');background-size:contain;"></div>
                                            <!--/.bg-holder-->
                                            <img class="rounded-3 mb-lg-0 opacity-100 position-relative" src="{% static 'assets/img/team/35.webp' %}" width="154" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-xl-7 text-center text-lg-start">
                                        <div class="mb-4" data-bs-theme="light">
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                            <span class="fa fa-star text-primary"></span>
                                        </div>
                                        <h3 class="fs-7 fs-xl-6 mb-5 lh-sm me-md-7 me-lg-0">“EnergyGuard is the first platform where energy data, AI tooling, and trustworthiness actually work together.”</h3>
                                        <h6>Axel Barry</h6>
                                        <h6 class="fw-normal">Lead Data Scientist, Schneider Electric</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="position-relative">
    {% static 'assets/img/bg/bg-13.png' as bg_world_map %}
    <div class="bg-holder world-map-bg" style="background-image:url('{{ bg_world_map }}');"></div>
    <!--/.bg-holder-->

    {% static 'assets/img/bg/bg-right-21.png' as bg_right_21 %}
    <div class="bg-holder z-2 opacity-25 " style="background-image:url('{{ bg_right_21 }}');background-size:auto;background-position:right;"></div>
    <!--/.bg-holder-->

    {% static 'assets/img/bg/bg-left-21.png' as bg_left_21 %}
    <div class="bg-holder z-2 mt-9 opacity-25" style="background-image:url('{{ bg_left_21 }}');background-size:auto;background-position:left;"></div>
    <!--/.bg-holder-->

    <svg class="w-100 position-relative" preserveAspectRatio="none" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
        <path class="fill-emphasis-bg" d="M1920 0.44L0 367.74V0H1920V0.44Z"></path>
    </svg>

    <section class="overflow-hidden z-2">
        <div class="container-small px-lg-7 px-xxl-3" data-bs-theme="light">
            <div class="position-relative">
                <div class="row mb-6">
                    <div class="col-xl-6 text-center text-md-start">
                        <h2 class="text-white mb-2">Being used by millions of users</h2>
                        <h1 class="fs-md-3 fs-xl-2 fw-black text-gradient-info text-uppercase mb-4 mb-md-0">WORLDWIDE</h1>
                    </div>
                    <div class="col-xl-6 text-center text-md-start">
                        <p class="text-white">You can get all the data, models, services you need covering the entire energy value chain with the help of EnergyGuard's power, and you may manage them whenever you want. These features make this platform  outstanding.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-8 text-center text-md-start mb-6 mb-xl-0">
                        <div class="d-md-flex justify-content-md-between">
                            <div class="mb-6 mb-md-0 me-4">
                                <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":125,"duration":10,"suffix":"+"}'>0 <span>+</span></h1>
                                <p class="text-white">Every month, there are more<br class="d-md-none d-lg-block" />than 125+ sales.</p>
                            </div>
                            <div class="mb-6 mb-md-0 me-4">
                                <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":308,"duration":10,"suffix":"k"}'>0</h1>
                                <p class="text-white">We have 308+ active paid.<br class="d-md-none d-lg-block" />subscribers.</p>
                            </div>
                            <div class="mb-6 mb-md-0 me-4">
                                <h1 class="display-1 text-white fw-bolder" data-countup='{"endValue":12,"duration":0.5}'>0</h1>
                                <p class="text-white">We have won 12 awards so<br class="d-md-none d-lg-block" />far with great success. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 text-center text-md-start"><img class="img-fluid" src="{% static 'assets/img/generic/capterra.png' %}" alt="" /></div>
                </div>
            </div>
        </div>
    </section>
    <svg class="w-100 position-relative" viewBox="0 0 1920 368" xmlns="http://www.w3.org/2000/svg">
        <path class="fill-emphasis-bg" d="M0 368L1920 0.730011L1920 368L0 368Z"></path>
    </svg>
</div>

<!-- Pricing -->
<!-- <section class="bg-body-emphasis pt-lg-0 pt-xl-8">
    <div class="bg-holder d-none d-md-block" style="background-image:url(../../assets/img/bg/bg-left-15.png);background-position:left;background-size:auto;"></div>

    <div class="bg-holder d-none d-md-block" style="background-image:url(../../assets/img/bg/bg-right-15.png);background-position:right;background-size:auto;"></div>

    <div class="container-small position-relative px-lg-7 px-xxl-3">
        <div class="mb-4 text-center text-sm-start">
            <h4 class="text-primary fw-bolder mb-3">Pricing</h4>
            <h2>Choose the best deal for you</h2>
        </div>
        <p class="column-md-2 text-center text-sm-start">Entice your customers with EnergyGuard platform. Show your best deal in this section to help customers choose from your best offers and place them all in one place with this efficient template. If you are availing more than one offer to your customers, let them compare among them and search for what they need to get. Show offer details here and entice them to buy.</p>
        <div class="row pt-9 g-3 g-xl-0">
            <div class="col-md-6 col-xl-3">
                <div class="card h-100 rounded-end-xl-0 rounded-start">
                    <div class="card-body px-6">
                        <div class="px-5">
                            <div class="text-center pt-5"><img src="{% static 'assets/img/icons/illustrations/pie.png' %}" width="48" height="48" alt="" />
                                <h3 class="fw-semibold my-4">Starter</h3>
                            </div>
                            <div class="text-center">
                                <h1 class="fw-semibold text-primary">$<span class="fw-bolder">6</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                                <h5 class="mb-4 text-body"></h5>
                                <button class="btn btn-lg mb-6 w-100 btn-outline-primary">Buy</button>
                            </div>
                        </div>
                        <ul class="fa-ul pricing-list">
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10 opacity-50">New</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Task dependencies</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Private teams &amp; projects</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card h-100  rounded-top-0 rounded-xl-0 border border-2 border-primary mt-5 mt-md-0">
                    <div class="position-absolute d-flex flex-center bg-primary-subtle rounded-top py-1 end-0 start-0 badge-pricing">
                        <p class="text-primary-dark mb-0">Most popular</p>
                    </div>
                    <div class="card-body px-6">
                        <div class="px-5">
                            <div class="text-center pt-5"><img src="{% static 'assets/img/icons/illustrations/bolt.png' %}" width="48" height="48" alt="" />
                                <h3 class="fw-semibold my-4">Team</h3>
                            </div>
                            <div class="text-center">
                                <h1 class="fw-semibold text-primary">$<span class="fw-bolder">12</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                                <h5 class="mb-4 text-body"></h5>
                                <button class="btn btn-lg mb-6 w-100 btn-primary">Buy</button>
                            </div>
                        </div>
                        <ul class="fa-ul pricing-list">
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10">New</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Task dependencies</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Private teams &amp; projects</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card h-100 rounded-start rounded-start-xl-0 mt-5 mt-md-0">
                    <div class="card-body px-6">
                        <div class="px-5">
                            <div class="text-center pt-5"><img src="{% static 'assets/img/icons/illustrations/edit.png' %}" width="48" height="48" alt="" />
                                <h3 class="fw-semibold my-4">Business</h3>
                            </div>
                            <div class="text-center">
                                <h1 class="fw-semibold text-primary">$<span class="fw-bolder">23</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                                <h5 class="mb-4 text-body"></h5>
                                <button class="btn btn-lg mb-6 w-100 btn-outline-primary">Buy</button>
                            </div>
                        </div>
                        <ul class="fa-ul pricing-list">
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10">New</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-star text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Task dependencies</span>
                            </li>
                            <li class="mb-4 d-flex align-items-center"><span class="text-body-secondary" style="--phoenix-text-opacity:.5;">Private teams &amp; projects</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xl-3 ps-xl-3">
                <div class="row g-0 h-100 justify-content-center">
                    <div class="col-xl-12">
                        <div class="card h-100 mt-5 mt-md-0">
                            <div class="card-body">
                                <div class="px-5">
                                    <div class="text-center pt-5"><img src="{% static 'assets/img/icons/illustrations/shield.png' %}" width="48" height="48" alt="" />
                                        <h3 class="fw-semibold my-4">Enterprise</h3>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="fw-semibold text-primary">$<span class="fw-bolder">40</span><span class="text-body-emphasis fs-7 ms-1 fw-bolder">USD</span></h1>
                                        <h5 class="mb-4 text-body"></h5>
                                        <button class="btn btn-lg mb-6 w-100 btn-outline-primary">Buy</button>
                                    </div>
                                </div>
                                <ul class="fa-ul pricing-list">
                                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Timeline</span>
                                    </li>
                                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Advanced Search</span>
                                    </li>
                                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-check text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Custom fields</span><span class="badge badge-phoenix badge-phoenix-warning ms-2 fs-10">New</span>
                                    </li>
                                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-star text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Task dependencies</span>
                                    </li>
                                    <li class="mb-4 d-flex align-items-center"><span class="fa-li"><span class="fas fa-star text-primary"></span></span><span class="text-body-secondary" style="--phoenix-text-opacity:1;">Private teams &amp; projects</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center mt-8">
                <p>For Enterprise Solution with Managed SMTP, Custom API setup, Dedicated Support, and more - <a href="#!"> Contact us</a></p>
            </div>
        </div>
    </div>
</section> -->

<!-- Use cases -->
<section class="bg-body-emphasis" id="blog">

    <div class="container-small px-lg-7 px-xxl-3">
        <div class="mb-4 text-center text-sm-start">
            <h4 class="text-primary fw-bolder mb-3">Use Cases</h4>
            <h2>Latest Use cases and Success stories</h2>
        </div>
        <p class="column-md-2">See the latest articles we published with this dashboard. Your customers will be happy to find all the latest posts in one place. This menu efficiently shows all related topics from search filters and provides the customers with what they need. Also you can just educate your customers about everything they need to know and follow to avail a service with you. This menu is the one to show them that.</p>
        <div class="row h-100 g-3 justify-content-center">
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 object-fit-cover" src="{% static 'assets/img/blog/blog-1.png' %}" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!">
                                    <span class="fa-solid fa-eye text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">2563</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!">
                                    <span class="fa-solid fa-heart text-body-quaternary me-1"></span>
                                    <span class="text-body fs-10 lh-1">125</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!">
                                    <span class="fa-solid fa-comment text-body-quaternary me-1"></span>
                                    <span class="text-body fs-10 lh-1">125</span>
                                </a>
                            </div>
                        </div>
                        <span class="badge badge-phoenix badge-phoenix-primary mb-2">Tech</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Top 10 ways to derisk your AI Apps</h4>
                        <a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 object-fit-cover" src="../../assets/img/blog/blog-2.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!">
                                    <span class="fa-solid fa-eye text-body-quaternary me-1"></span>
                                    <span class="text-body fs-10 lh-1">1256</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a>
                            </div>
                            <div class="d-flex align-items-center">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">32</span></a>
                            </div>
                        </div>
                        <span class="badge badge-phoenix badge-phoenix-primary mb-2">Tech</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Protecting your critical infrastructure</h4>
                        <a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 object-fit-cover" src="{% static 'assets/img/blog/blog-3.png' %}" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!">
                                    <span class="fa-solid fa-eye text-body-quaternary me-1"></span>
                                    <span class="text-body fs-10 lh-1">142</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">123</span></a>
                            </div>
                            <div class="d-flex align-items-center">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">22</span></a>
                            </div>
                        </div>
                        <span class="badge badge-phoenix badge-phoenix-primary mb-2">Tech</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">RENAH uses EnergyGuard for load forecasting</h4>
                        <a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 mb-3 mb-md-0">
                <div class="card text-white dark__text-gray-1100 h-100"><img class="rounded-top h-100 object-fit-cover" src="../../assets/img/blog/blog-4.png" alt="..." />
                    <div class="card-body rounded-top">
                        <div class="d-flex align-items-cente mb-3">
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!">
                                    <span class="fa-solid fa-eye text-body-quaternary me-1"></span>
                                    <span class="text-body fs-10 lh-1">2563</span>
                                </a>
                            </div>
                            <div class="d-flex align-items-center me-3">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-heart text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">325</span></a>
                            </div>
                            <div class="d-flex align-items-center">
                                <a class="btn-link text-decoration-none d-flex align-items-center" href="#!"><span class="fa-solid fa-comment text-body-quaternary me-1"></span><span class="text-body fs-10 lh-1">112</span></a>
                            </div>
                        </div>
                        <span class="badge badge-phoenix badge-phoenix-primary mb-2">Tech</span>
                        <h4 class="fw-bold mb-3 lh-sm line-clamp-2">Improving ROI with validating AI agents</h4>
                        <a class="btn-link px-0 d-flex align-items-center fs-9 fw-bold" href="#!" role="button">Read more<span class="fa-solid fa-angle-right ms-2"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mt-6"><a class="btn btn-outline-primary" href="#!">View All<span class="fa-solid fa-angle-right ms-2"></span></a></div>
    </div>
</section>

<!-- Find us -->
 <section class="bg-body-emphasis">

    <div class="container-small px-lg-7 px-xxl-3">
        <div class="mb-3 text-center text-sm-start">
            <h4 class="text-primary fw-bolder mb-3">Address</h4>
            <h2>If you need to find us:</h2>
        </div>
        <p class="column-md-2">Do not lose your potential customers to others. Tell them exactly. No need to take the burden of communicating directly. You can easily tell your customers where to find you with precise location map. Getting closer was never easier!</p>
        <div class="row">
            <div class="col-12 mb-15">
                <!-- TODO: Update mapbox container -->
                <div class="mapbox-container rounded-3 border overflow-hidden mt-3 mb-6">
                    <div id="mapbox" data-mapbox='{"attributionControl":false,"center":[-74.0020158,40.7228022],"zoom":14,"scrollZoom":false}' style="height: 381px"></div>
                </div>
            </div>
        </div>
        <div class="row g-5 g-lg-5">
            <div class="col-md-6 mb-5 mb-md-0 text-center text-md-start">
                <h3 class="mb-3">Stay connected</h3>
                <p class="mb-5">Stay connected with EnergyGuard's Help Center; EnergyGuard is available for your necessities at all times.</p>
                <div class="d-flex flex-column align-items-center align-items-md-start gap-3 gap-md-0">
                    <div class="d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-phone text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <!-- TODO: Update phone number -->
                        <div class="flex-1 ms-3"><a class="link-900" href="tel:+871406-7509">(871) 406-7509</a></div>
                    </div>
                    <div class="d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-envelope text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="mailto:no-reply@energy-guard.eu">no-reply@energy-guard.eu</a></div>
                    </div>
                    <div class="mb-6 d-md-flex align-items-center">
                        <div class="icon-wrapper shadow-info"><span class="uil uil-map-marker text-primary fs-4 z-1 ms-2" data-bs-theme="light"></span></div>
                        <!-- TODO: Update address -->
                        <div class="flex-1 ms-3"><a class="fw-semibold text-body" href="#!">39163 Amir Drive Suite 802</a></div>
                    </div>
                    <div class="d-flex">
                        <a href="#!"><span class="fa-brands fa-facebook fs-6 text-primary me-3"></span></a>
                        <a href="#!"><span class="fa-brands fa-twitter fs-6 text-primary me-3"></span></a>
                        <a href="#!"><span class="fa-brands fa-linkedin-in fs-6 text-primary"></span></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-center text-md-start" id="uniqueMessage">
                <h3 class="mb-3">Drop us a line</h3>
                <p class="mb-7">If you have any query or suggestion , we are open to learn from you, Lets talk, reach us anytime.</p>
                <form class="row g-4" method="POST" action="{% url 'contact_form' %}">
                    {% csrf_token %}
                    <div class="col-12">
                        <input class="form-control bg-body-emphasis" type="text" name="name" placeholder="Name" required="required" />
                    </div>
                    <div class="col-12">
                        <input class="form-control bg-body-emphasis" type="email" name="email" placeholder="Email" required="required" />
                    </div>  
                    <div class="col-12">
                        <textarea class="form-control bg-body-emphasis" rows="6" name="message" placeholder="Message" required="required"></textarea>
                    </div>
                    <div class="col-12 d-grid">
                        <button class="btn btn-outline-primary" type="submit">Submit</button>
                    </div>
                    <div class="feedback"></div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- ============================================-->
<!-- Footer Section -->

<section class="bg-body-emphasis pb-0">

    <div class="container-small px-lg-7 px-xxl-3">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                {% static 'assets/img/bg/bg-18.png' as bg_18 %}
                <div class="card py-md-9 px-md-13 border-0 z-1 shadow-lg cta-card">
                    <div class="bg-holder" style="background-image:url('{{ bg_18 }}');background-position:right;background-size:auto;"></div>
                    <!--/.bg-holder-->

                    <div class="card-body position-relative">
                        <img class="img-fluid mb-5 " src="{% static 'assets/img/spot-illustrations/experiment-first-vector.png' %}" width="210" alt="..." />
                        <div class="d-flex align-items-center fw-bold justify-content-center mb-3">
                            <p class="mb-0">Embrace Innovation </p><span class="text-primary fa-solid fa-circle" data-fa-transform="shrink-12"></span>
                            <p class="mb-0">FREE resources for the first 300</p>
                        </div>
                        <h1 class="fs-6 fs-sm-4 fs-lg-2 fw-bolder lh-sm mb-3">Join<span class="gradient-text-primary mx-2">EnergyGuard</span><span>Today</span></h1>
                        <form class="d-flex justify-content-center mb-3 px-xxl-12">
                            <div class="d-grid d-sm-block"></div>
                            <input class="form-control me-3" id="ctaEmail1" type="email" placeholder="Email" aria-describedby="ctaEmail1" />
                            <button class="btn btn-primary" type="submit">Subscribe</button>
                        </form>
                        <p>Best support in the world, Only EnergyGuard can ensure </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end of .container-->

</section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


<div class="position-relative">
    {% static 'assets/img/bg/bg-19.png' as bg_19 %}
    <div class="bg-holder footer-bg" style="background-image:url('{{ bg_19 }}');background-size:auto;"></div>
    <!--/.bg-holder-->

    {% static 'assets/img/bg/bg-right-20.png' as bg_right_20 %}
    <div class="bg-holder" style="background-image:url('{{ bg_right_20 }}');background-position:right;background-size:auto;"></div>
    <!--/.bg-holder-->

    {% static 'assets/img/bg/bg-left-20.png' as bg_left_20 %}
    <div class="bg-holder" style="background-image:url('{{ bg_left_20 }}');background-position:left;background-size:auto;"></div>
    <!--/.bg-holder-->

    <div class="position-relative">
        <svg class="w-100 text-white dark__text-gray-1100" preserveAspectRatio="none" viewBox="0 0 1920 368" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1920 0.44L0 367.74V0H1920V0.44Z" fill="currentColor"></path>
        </svg>


        <!-- ============================================-->
        <!-- <section> begin ============================-->
        <section class="footer-default">

            <div class="container-small px-lg-7 px-xxl-3">
                <div class="row position-relative">
                    <div class="col-12 col-sm-12 col-lg-5 mb-4 order-0 order-sm-0">
                        <a href="#"><img class="mb-3" src="{% static 'assets/img/logo/EnergyGuard-white.png' %}" height="48" alt="" /></a>
                        <h3 class="text-white">EnergyGuard</h3>
                        <p class="text-white opacity-50">All over the world. Alice in <br />wonderland and other places.</p>
                    </div>
                    <div class="col-lg-7">
                        <div class="row justify-content-between">
                            <div class="col-6 col-sm-4 col-lg-3 mb-3 order-2 order-sm-1">
                                <div class="border-dashed border-start border-primary-light ps-3" style="--phoenix-border-opacity: .2;">
                                    <h5 class="fw-bolder mb-2 text-light">Help</h5>
                                    <ul class="list-unstyled mb-3">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">About</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Contact</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Projects</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Service</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">404</a></li>
                                    </ul>
                                </div>
                                <div class="border-dashed border-start border-primary-light ps-3" style="--phoenix-border-opacity: .2;">
                                    <h5 class="lh-lg fw-bolder mb-2 text-light">Follow</h5>
                                    <ul class="list-unstyled mb-2">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Facebook</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Twitter</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Linkedin</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                                <div class="border-dashed border-start border-primary-light ps-3" style="--phoenix-border-opacity: .2;">
                                    <h5 class="lh-lg fw-bold text-light mb-2">Support</h5>
                                    <ul class="list-unstyled mb-md-2">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Privacy</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Contact</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Blog</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">FAQ</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Project</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Team</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-6 col-sm-4 col-lg-3 mb-3 order-3 order-sm-2">
                                <div class="border-dashed border-start border-primary-light ps-3" style="--phoenix-border-opacity: .2;">
                                    <h5 class="lh-lg fw-bold text-light mb-2"> Info</h5>
                                    <ul class="list-unstyled mb-md-2">
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Personal</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">NFT System</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Agency</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">Contact</a></li>
                                        <li class="mb-1"><a class="text-body-quaternary" href="#!" data-bs-theme="light">About</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end of .container-->
        </section>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const contactForm = document.querySelector('#uniqueMessage form');
    const feedbackDiv = document.querySelector('#uniqueMessage .feedback');
    
    if (contactForm) {
        contactForm.addEventListener('submit', function(e) {
            e.preventDefault();
            
            const formData = new FormData(contactForm);
            const submitButton = contactForm.querySelector('button[type="submit"]');
            const originalButtonText = submitButton.innerText;
            
            // Disable button and show loading state
            submitButton.disabled = true;
            submitButton.innerText = 'Sending...';
            feedbackDiv.innerHTML = '';
            
            fetch(contactForm.action, {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    feedbackDiv.innerHTML = `<div class="alert alert-success" role="alert">${data.message}</div>`;
                    contactForm.reset();
                } else {
                    feedbackDiv.innerHTML = `<div class="alert alert-danger" role="alert">${data.message}</div>`;
                }
            })
            .catch(error => {
                feedbackDiv.innerHTML = `<div class="alert alert-danger" role="alert">Error sending message. Please try again.</div>`;
                console.error('Error:', error);
            })
            .finally(() => {
                submitButton.disabled = false;
                submitButton.innerText = originalButtonText;
            });
        });
    }
});
</script>

{% endblock content %}