{% load static %}

<!-- SUBHEADER -->
<div class="d-flex justify-content-between">
    <ul class="nav nav-links mb-lg-2 mx-n3">
        <li class="nav-item"><a class="nav-link active" aria-current="page" href="?visibility={{ visibility_param }}"><span>All </span><span class="text-body-tertiary fw-semibold">({{projects_num.all}})</span></a></li>
    </ul>
    <!-- SEARCH AND FILTERS -->
    <div class="mb-3">
        <div class="row g-3">
            <!-- SEARCH BAR -->
            <div class="col-auto">
                <div class="search-box">
                    <form class="position-relative" id="{{ id_name }}ProjectSearchForm" onsubmit="return false">
                        <input id="{{ id_name }}ProjectSearchInput" class="form-control search-input search" type="search" placeholder="Search projects" aria-label="Search" />
                        <span class="fas fa-search search-box-icon"></span>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
        <div class="table-responsive scrollbar mx-n1 px-1">
            <table class="table table-sm fs-9 mb-0" id="{{ id_name }}ProjectsTable">
                <thead>
                    <tr>
                        <th class="sort white-space-nowrap align-middle py-3" scope="col" style="width:14%;">PROJECT NAME</th>
                        <th class="sort align-middle text-start" scope="col" style="width:12%;">DESCRIPTION</th>
                        <th class="sort align-middle text-start" scope="col" style="width:4%;">COLLABORATORS</th>
                        <th class="sort align-middle text-start" scope="col" style="width:7%;">START DATE</th>
                        <th class="sort align-middle text-start" scope="col" data-sort="updated" style="width:7%;">UPDATED</th>
                        <th class="sort align-middle text-end" scope="col" style="width:8%; min-width: 100px;">TYPE</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

    

<script src="{% static '/jquery-3.7.1.min.js' %}"></script>
<!-- DataTables Bootstrap 5 JS (Add this) -->
<script src="{% static '/DataTables/datatables.min.js' %}"></script>
<script>
    $(function () {

        $.fn.DataTable.ext.pager.numbers_length = 4     // Change number of pages shown in the pagination
        const visibilityParam  = new URLSearchParams(window.location.search).get('visibility'); 
        const table = $('#{{ id_name }}ProjectsTable').DataTable({
            "processing": true,
            "serverSide": true,
            "ajax": {
                "url": "{% url 'projects_list' %}",
                data: function (d) { 
                    d.visibility = visibilityParam == 'true';
                },
                "type": "GET"
            },
            "columns": [
                { "data": "name", render: (data, type, row) => `<a class="py-0" href="/projects/project/${row.id}/">${data}</a>`},
                { "data": "description", className: "pe-3" },
                { "data": "collaborators" },
                { "data": "created_at", className: "text-end" },
                { "data": "updated_at", className: "text-end" },
                { "data": "type", className: "text-end" }
            ],
            createdRow: row => $('td', row).addClass('align-middle py-3'),
            layout: {
                topStart: null,
                topEnd: null,
                bottomEnd: {
                    paging: {
                        boundaryNumbers: false,
                    }
                }
            }
        });

        $('#{{ id_name }}ProjectSearchInput').on('keyup change', function () {
            table.search(this.value).draw();
        });
    });
</script>
