{% extends "core/authenticated-base.html" %}

{% block title %}Projects List | EnergyGuard{% endblock %}

{% block content %}
<div class="content">
    <div class="mb-9">

        <!-- HEADER -->
        <div class="row g-3 mb-6">
            <div class="col-auto me-5">
                <h2 class="mb-3">Projects</h2>
            </div>
            <div class="col-auto">
                <a class="btn btn-primary" href="{% url 'project_creation' %}"><span class="fas fa-plus me-2"></span>Add new project</a>
            </div>
        </div>


        <ul class="nav nav-underline" id="myTab" role="tablist">
            <li class="nav-item me-3"><a class="nav-link fs-8 {% if active_tab != 'public' %}active{% endif %}" id="myProjects-tab" data-bs-toggle="tab" href="#tab-myProjects" role="tab" aria-controls="tab-myProjects" aria-selected="{% if active_tab != 'public' %}true{% else %}false{% endif %}">My projects</a></li>
            <li class="nav-item"><a class="nav-link fs-8 {% if active_tab == 'public' %}active{% endif %}" id="publicProjects-tab" data-bs-toggle="tab" href="#tab-publicProjects" role="tab" aria-controls="tab-publicProjects" aria-selected="{% if active_tab == 'public' %}true{% else %}false{% endif %}">Public projects</a></li>
        </ul>

        <div class="tab-content mt-5" id="myTabContent">
            <!-- My projects tab -->
            <div class="tab-pane fade {% if active_tab != 'public' %}show active{% endif %}" id="tab-myProjects" role="tabpanel" aria-labelledby="myProjects-tab">
                <!-- SUBHEADER -->
                <div class="d-flex justify-content-between">
                    <ul class="nav nav-links mb-lg-2 mx-n3">
                        <li class="nav-item"><a class="nav-link fs-9 {%if not type_filter %}active{% endif %}" aria-current="page" href="?tab=my"><span>All </span><span class="text-body-tertiary fw-semibold">({{my_projects_num.all}})</span></a></li>
                        {% for tab in type_tabs %}
                        <li class="nav-item"><a class="nav-link fs-9 {%if type_filter == tab.value %}active{% endif %}" href="?tab=my&type={{ tab.value }}"><span>{{ tab.display }}</span><span class="text-body-tertiary fw-semibold">({{ tab.my_count }})</span></a></li>
                        {% endfor %}
                    </ul>
                    <!-- SEARCH AND FILTERS -->
                    <div class="mb-3">
                        <div class="row g-3">
                            <!-- SEARCH BAR -->
                            <div class="col-auto">
                                <div class="search-box">
                                    <form class="position-relative" onsubmit="return false">
                                        <input id="myProjectSearchInput" class="form-control search-input search fs-9" type="search" placeholder="Search projects" aria-label="Search" />
                                        <span class="fas fa-search search-box-icon fs-9"></span>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
                        <div class="table-responsive scrollbar mx-n1 px-1">
                            <table class="table table-sm fs-9 mb-0" id="myProjectsTable" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="sort white-space-nowrap align-middle py-3 fs-9" scope="col" style="width:10%;">PROJECT NAME</th>
                                        <th class="sort align-middle text-start fs-9" scope="col" style="width:12%;">DESCRIPTION</th>
                                        <th class="sort align-middle text-start fs-9" scope="col" style="width:10%;">COLLABORATORS</th>
                                        <th class="sort align-middle text-start fs-9" scope="col" style="width:7%;">START DATE</th>
                                        <th class="sort align-middle text-start fs-9" scope="col" data-sort="updated" style="width:7%;">UPDATED</th>
                                        <th class="sort align-middle text-end fs-9" scope="col" style="width:8%; min-width: 100px;">TYPE</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>   
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Public projects tab -->
            <div class="tab-pane fade {% if active_tab == 'public' %}show active{% endif %}" id="tab-publicProjects" role="tabpanel" aria-labelledby="publicProjects-tab">
                <!-- SUBHEADER -->
                     <div class="d-flex justify-content-between">
                        <ul class="nav nav-links mb-lg-2 mx-n3">
                            <li class="nav-item"><a class="nav-link fs-9 {%if not type_filter %}active{% endif %}" aria-current="page" href="?tab=public"><span>All </span><span class="text-body-tertiary fw-semibold">({{public_projects_num.all}})</span></a></li>
                            {% for tab in type_tabs %}
                            <li class="nav-item"><a class="nav-link fs-9 {%if type_filter == tab.value %}active{% endif %}" href="?tab=public&type={{ tab.value }}"><span>{{ tab.display }}</span><span class="text-body-tertiary fw-semibold">({{ tab.public_count }})</span></a></li>
                            {% endfor %}
                        </ul>
                        <!-- SEARCH AND FILTERS -->
                        <div class="mb-3">
                            <div class="row g-3">
                                <!-- SEARCH BAR -->
                                <div class="col-auto">
                                    <div class="search-box">
                                        <form class="position-relative" onsubmit="return false">
                                            <input id="publicProjectSearchInput" class="form-control search-input search fs-9" type="search" placeholder="Search projects" aria-label="Search" />
                                            <span class="fas fa-search search-box-icon fs-9"></span>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-body-emphasis border-top border-bottom border-translucent position-relative top-1">
                            <div class="table-responsive scrollbar mx-n1 px-1">
                                <table class="table table-sm fs-9 mb-0" id="publicProjectsTable" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th class="sort white-space-nowrap align-middle py-3 fs-9" scope="col" style="width:10%;">PROJECT NAME</th>
                                            <th class="sort align-middle text-start fs-9" scope="col" style="width:12%;">DESCRIPTION</th>
                                            <th class="sort align-middle text-start fs-9" scope="col" style="width:10%;">COLLABORATORS</th>
                                            <th class="sort align-middle text-start fs-9" scope="col" style="width:7%;">START DATE</th>
                                            <th class="sort align-middle text-start fs-9" scope="col" data-sort="updated" style="width:7%;">UPDATED</th>
                                            <th class="sort align-middle text-end fs-9" scope="col" style="width:8%; min-width: 100px;">TYPE</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>   
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "core/footer.html" %}
    </div>
</div>
{% endblock content %}

{% block scripts %}

<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {

        // $.fn.DataTable.ext.pager.numbers_length = 4     // Change number of pages shown in the pagination
        const typeParam = new URLSearchParams(window.location.search).get('type') || '';
        const columns = [
            { data: "name", render: (data, type, row) => `<a class="fw-semibold py-0 fs-9" href="/projects/project/${row.id}/">${data}</a>`},
            { data: "description", className: "pe-3 fs-9" },
            { data: "collaborators", className: "fs-9" },
            { data: "created_at", className: "text-end fs-9" },
            { data: "updated_at", className: "text-end fs-9" },
            { data: "project_type", className: "text-end fs-9" },
            { data: "id", visible: false }
        ];

        const myTable = $('#myProjectsTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'projects_list_json' %}",
                data: function (d) {
                    d.type = typeParam;
                    d.scope = "my";
                },
                type: "GET"
            },
            columns: columns,
            dom: 'rt<"row"<"col-sm-12 col-md-7 fs-9 mt-4"i><"col-sm-12 col-md-5 mt-4 d-flex justify-content-end"p>>',
            pageLength: 15,
            createdRow: row => $('td', row).addClass('align-middle py-3'),
        });

        const publicTable = $('#publicProjectsTable').DataTable({
            processing: true,
            serverSide: true,
            ajax: {
                url: "{% url 'projects_list_json' %}",
                data: function (d) {
                    d.type = typeParam;
                    d.scope = "public";
                },
                type: "GET"
            },
            columns: columns,
            dom: 'rt<"row"<"col-sm-12 col-md-7 fs-9 mt-4"i><"col-sm-12 col-md-5 mt-4 d-flex justify-content-end"p>>', // Custom DOM layout
            pageLength: 15,
            createdRow: row => $('td', row).addClass('align-middle py-3'),
        });

        $('#myProjectSearchInput').on('keyup change', function () {
            myTable.search(this.value).draw();
        });

        $('#publicProjectSearchInput').on('keyup change', function () {
            publicTable.search(this.value).draw();
        });
    });
</script>
{% endblock scripts %}
